[submodule "slang-shaders"]
	path = slang-shaders
	url = https://github.com/libretro/slang-shaders
[submodule "sst"]
	path = sst
	url = https://github.com/SingleStepTests/sm83
[submodule "blargg"]
	path = blargg
	url = https://github.com/L-P/blargg-test-roms
